@page "/"

<MudImage Src="/"  Alt="home-photo" Elevation="25" Class="rounded-lg"/>
<MudButton Variant="Variant.Filled" Color="Color.Primary" >Nuestros lugares</MudButton>


<MudImage Src="/" Alt="about-us-photo" Style="max-width: 100%; height: auto;" />
<MudText Typo="Typo.h3" GutterBottom="true">SOBRE NOSOTROS</MudText>
<MudText Typo="Typo.body1">
    Localízate es una plataforma diseñada para facilitar el descubrimiento de negocios locales, ofreciendo a los
    usuarios acceso a ofertas y promociones exclusivas, reseñas personalizadas y recomendaciones basadas en sus
    preferencias. Además, permite a los negocios publicitarse de manera efectiva, llegando a su público objetivo y
    fortaleciendo su presencia en la comunidad. A través de la membresía y el uso de cupones, Localízate fomenta la
    interacción entre clientes y comercios, promoviendo un crecimiento económico local y una experiencia de compra
    más personalizada y cercana.
</MudText>


<MudImage Src="/" Alt="mission-vision-photo" Style="max-width: 100%; height: auto;" />

<MudText Typo="Typo.h3" GutterBottom="true">Mision</MudText>
<MudText Typo="Typo.body1">
    Nuestra misión en Localízate es conectar a los usuarios con la mejor información sobre lugares turísticos, locales de comida y entretenimiento en San Pedro de Barva, brindando reseñas detalladas, recomendaciones y detalles para que puedan disfrutar al máximo de su experiencia en la zona.
</MudText>


<MudText Typo="Typo.h3" GutterBottom="true">Vision</MudText>
<MudText Typo="Typo.body1">
    En Localízate, nuestra visión es convertirnos en la plataforma líder en información local, siendo el referente indispensable para quienes buscan explorar y disfrutar de San Pedro de Barva. Queremos ser reconocidos por nuestra precisión, confiabilidad y utilidad, creando una comunidad de usuarios satisfechos y conectados con las mejores experiencias que la zona tiene para ofrecer.
</MudText>


<MudImage Src="/" Alt="Group of kids" Style="max-width: 100%; height: auto;" />

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    // Add your C# code here if needed
}